<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./head.ejs %>
  </head>
  <body>
    <% include ./header.ejs %>
    <p>dkpScoreTable</p>

    <ul>
        <li>Friska : 90</li>
        <li>Nemara : 76</li>
        <li>Nodus : 12</li>
    </ul>
    </body>
</html>
