<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./head.ejs %>
  </head>
  <body>
    <% include ./header.ejs %>
    <p>DKP Table</p>
    <ul>
        <li>killing a boss : 89</li>
        <li>picking a flower : 12</li>
        <li>be awsome : 1</li>
    </ul>
    </body>
</html>
