<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./head.ejs %>
  </head>
  <body>
    <% include ./header.ejs %>
    <div class="container">
        <table class="table tableBodyScroll">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">DKPoint of the month</th>
              <th scope="col">DKPoint total</th>
              <th scope="col">delete</th>
            </tr>
          </thead>
          <tbody id="characterTable">
          </tbody>
          <tbody class="no-scroll">
            <tr>
              <th scope="row">#</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="inputCharacterName" placeholder="character name...">
                </div>
              </td>
              <td></td>
              <td>
                <button type="submit" id="inputCharacterSubmit" class="btn btn-primary">Add Character</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% include ./footer.ejs %>
    <script src='/javascripts/dkpTableFront.js'></script>
    <script></script>
    </body>
</html>
